* {
    background-color: #00000000;
	fullscreen: true;
	font: "Fira Code Bold 16";
}

configuration {
  lines: 12;
  // Center the window on the screen
  location: 0;
  
  // Width and height of the window

  // Disable the combi or run option
  show-icons: false;

  // Center the text
  text-align: center;
}

element-text {
    horizontal-align: 0.5; /* Centers text horizontally */
    vertical-align: 0.5;   /* Centers text vertically */
}
